USE [master]
GO
/****** Object:  Database [TCS_DB]    Script Date: 04/06/2017 14:27:51 ******/
CREATE DATABASE [TCS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tcs_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER\MSSQL\DATA\TCS_DB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tcs_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER\MSSQL\DATA\TCS_DB_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TCS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TCS_DB]
GO
/****** Object:  Table [dbo].[flota]    Script Date: 04/06/2017 14:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[flota](
	[FlotaID] [int] NOT NULL,
	[Empresa] [varchar](100) NULL,
	[Dueno] [varchar](100) NULL,
	[Codigo] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[FlotaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[flotaunidad]    Script Date: 04/06/2017 14:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flotaunidad](
	[FlotaUnidadID] [int] NOT NULL,
	[FlotaID] [int] NULL,
	[UnidadID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FlotaUnidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[persona]    Script Date: 04/06/2017 14:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[persona](
	[PersonaID] [int] NOT NULL,
	[NombrePersona] [varchar](100) NULL,
	[Licencia] [varchar](20) NULL,
	[UsuarioID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PersonaHorario]    Script Date: 04/06/2017 14:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonaHorario](
	[PersonaHorarioID] [int] IDENTITY(1,1) NOT NULL,
	[PersonaID] [int] NULL,
	[HorarioID] [int] NULL,
 CONSTRAINT [PK_PersonaHorario] PRIMARY KEY CLUSTERED 
(
	[PersonaHorarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[personarol]    Script Date: 04/06/2017 14:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personarol](
	[PersonaRol] [int] NOT NULL,
	[PersonaID] [int] NULL,
	[RolID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonaRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[privilegio]    Script Date: 04/06/2017 14:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[privilegio](
	[IdPrivilegio] [int] NOT NULL,
	[Nombre] [nchar](20) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[IdPrivilegio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[punto]    Script Date: 04/06/2017 14:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[punto](
	[PuntoID] [int] NOT NULL,
	[NombrePunto] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PuntoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[rol]    Script Date: 04/06/2017 14:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rol](
	[RolId] [int] NOT NULL,
	[NombreRol] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ruta]    Script Date: 04/06/2017 14:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ruta](
	[RutaID] [int] NOT NULL,
	[NombreRuta] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RutaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[rutapunto]    Script Date: 04/06/2017 14:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rutapunto](
	[RutaPuntoID] [int] NOT NULL,
	[RutaID] [int] NULL,
	[PuntoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RutaPuntoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[unidad]    Script Date: 04/06/2017 14:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[unidad](
	[UnidadID] [int] NOT NULL,
	[Placa] [varchar](20) NULL,
	[Marca] [varchar](30) NULL,
	[Modelo] [varchar](30) NULL,
	[Estado] [varchar](30) NULL,
	[Anio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UnidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 04/06/2017 14:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[UsuarioID] [int] NOT NULL,
	[Usuario] [varchar](20) NOT NULL,
	[Contrasena] [varchar](20) NOT NULL,
	[IdPrivilegio] [int] NOT NULL,
 CONSTRAINT [PK__usuario__2B3DE798A1B0E6C4] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[viaje]    Script Date: 04/06/2017 14:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[viaje](
	[ViajeID] [int] NOT NULL,
	[UnidadID] [int] NULL,
	[RutaID] [int] NULL,
	[PersonaID] [int] NULL,
	[FechaPartida] [date] NULL,
	[FechaRegreso] [date] NULL,
	[Descripcion] [varchar](100) NULL,
	[Orden] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ViajeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [FKFlotaRol]    Script Date: 04/06/2017 14:27:52 ******/
CREATE NONCLUSTERED INDEX [FKFlotaRol] ON [dbo].[flotaunidad]
(
	[FlotaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FKUnidadFlota]    Script Date: 04/06/2017 14:27:52 ******/
CREATE NONCLUSTERED INDEX [FKUnidadFlota] ON [dbo].[flotaunidad]
(
	[UnidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FKPersonaUsuario]    Script Date: 04/06/2017 14:27:52 ******/
CREATE NONCLUSTERED INDEX [FKPersonaUsuario] ON [dbo].[persona]
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FKPersonaRol]    Script Date: 04/06/2017 14:27:52 ******/
CREATE NONCLUSTERED INDEX [FKPersonaRol] ON [dbo].[personarol]
(
	[PersonaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FKRolPersona]    Script Date: 04/06/2017 14:27:52 ******/
CREATE NONCLUSTERED INDEX [FKRolPersona] ON [dbo].[personarol]
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FKPuntoRuta]    Script Date: 04/06/2017 14:27:52 ******/
CREATE NONCLUSTERED INDEX [FKPuntoRuta] ON [dbo].[rutapunto]
(
	[PuntoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FKRutaPunto]    Script Date: 04/06/2017 14:27:52 ******/
CREATE NONCLUSTERED INDEX [FKRutaPunto] ON [dbo].[rutapunto]
(
	[RutaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FKVaijePersona]    Script Date: 04/06/2017 14:27:52 ******/
CREATE NONCLUSTERED INDEX [FKVaijePersona] ON [dbo].[viaje]
(
	[PersonaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FKVaijeRuta]    Script Date: 04/06/2017 14:27:52 ******/
CREATE NONCLUSTERED INDEX [FKVaijeRuta] ON [dbo].[viaje]
(
	[RutaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FKVaijeUnidad]    Script Date: 04/06/2017 14:27:52 ******/
CREATE NONCLUSTERED INDEX [FKVaijeUnidad] ON [dbo].[viaje]
(
	[UnidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[flotaunidad]  WITH CHECK ADD  CONSTRAINT [FK_flotaunidad_flota] FOREIGN KEY([FlotaID])
REFERENCES [dbo].[flota] ([FlotaID])
GO
ALTER TABLE [dbo].[flotaunidad] CHECK CONSTRAINT [FK_flotaunidad_flota]
GO
ALTER TABLE [dbo].[flotaunidad]  WITH CHECK ADD  CONSTRAINT [FK_flotaunidad_unidad] FOREIGN KEY([UnidadID])
REFERENCES [dbo].[unidad] ([UnidadID])
GO
ALTER TABLE [dbo].[flotaunidad] CHECK CONSTRAINT [FK_flotaunidad_unidad]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [FK_persona_usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [FK_persona_usuario]
GO
ALTER TABLE [dbo].[personarol]  WITH CHECK ADD  CONSTRAINT [FK_personarol_persona] FOREIGN KEY([PersonaID])
REFERENCES [dbo].[persona] ([PersonaID])
GO
ALTER TABLE [dbo].[personarol] CHECK CONSTRAINT [FK_personarol_persona]
GO
ALTER TABLE [dbo].[personarol]  WITH CHECK ADD  CONSTRAINT [FK_personarol_rol] FOREIGN KEY([RolID])
REFERENCES [dbo].[rol] ([RolId])
GO
ALTER TABLE [dbo].[personarol] CHECK CONSTRAINT [FK_personarol_rol]
GO
ALTER TABLE [dbo].[rutapunto]  WITH CHECK ADD  CONSTRAINT [FK_rutapunto_punto] FOREIGN KEY([PuntoID])
REFERENCES [dbo].[punto] ([PuntoID])
GO
ALTER TABLE [dbo].[rutapunto] CHECK CONSTRAINT [FK_rutapunto_punto]
GO
ALTER TABLE [dbo].[rutapunto]  WITH CHECK ADD  CONSTRAINT [FK_rutapunto_ruta] FOREIGN KEY([RutaID])
REFERENCES [dbo].[ruta] ([RutaID])
GO
ALTER TABLE [dbo].[rutapunto] CHECK CONSTRAINT [FK_rutapunto_ruta]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_privilegio] FOREIGN KEY([IdPrivilegio])
REFERENCES [dbo].[privilegio] ([IdPrivilegio])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_privilegio]
GO
ALTER TABLE [dbo].[viaje]  WITH CHECK ADD  CONSTRAINT [FK_viaje_persona] FOREIGN KEY([PersonaID])
REFERENCES [dbo].[persona] ([PersonaID])
GO
ALTER TABLE [dbo].[viaje] CHECK CONSTRAINT [FK_viaje_persona]
GO
ALTER TABLE [dbo].[viaje]  WITH CHECK ADD  CONSTRAINT [FK_viaje_ruta] FOREIGN KEY([RutaID])
REFERENCES [dbo].[ruta] ([RutaID])
GO
ALTER TABLE [dbo].[viaje] CHECK CONSTRAINT [FK_viaje_ruta]
GO
ALTER TABLE [dbo].[viaje]  WITH CHECK ADD  CONSTRAINT [FK_viaje_unidad] FOREIGN KEY([UnidadID])
REFERENCES [dbo].[unidad] ([UnidadID])
GO
ALTER TABLE [dbo].[viaje] CHECK CONSTRAINT [FK_viaje_unidad]
GO
USE [master]
GO
